@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
    }

    .station {
        font-size: 0.9rem;
    }

    .header-content {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }

    .current-conditions-compact {
        gap: 1rem;
    }

    .condition-compact .value {
        font-size: 0.9rem;
        white-space: nowrap;
    }

    .condition-compact .label {
        font-size: 0.6rem;
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .controls-container {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .container {
        height: unset;
    }

    .chart-section {
        /*min-height: 75vh;*/
        padding: 0.5rem;
    }

    .controls {
        position: relative;
        flex-direction: column;
    }

    .legend {
        gap: 0.5rem;
        width: 100%;
        order: -1;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .legend-item {
        gap: 0.25rem;
        font-size: 0.85rem;
        flex: 1 1 auto;
        min-width: 0;
    }

    .legend-box {
        width: 18px;
        height: 18px;
    }

    .meorial-controls {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .current-conditions-compact {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }
}

/* Landscape orientation for phones and tablets */
@media (orientation: landscape) and (max-height: 900px) {
    .content-wrapper {
        flex-direction: row;
    }

    .charts-container {
        flex: 4;
        min-width: 0;
        /*min-height: 100vh;*/
    }

    .chart-section {
        /*min-height: 75vh;*/
        padding: 0.5rem;
    }

    .controls-container {
        flex: 1;
        flex-direction: column;
        align-items: stretch;
        border-top: none;
        border-left: 1px solid var(--border-color);
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .controls {
        justify-content: flex-start;
        align-items: stretch;
    }

    .controls-container
    .btn {
        padding: 0.25rem;
    }

    .controls-container
    .btn,
    select,
    input[type="date"] {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .date-navigation {
        flex-direction: inherit;
        align-items: stretch;
        gap: 0.2rem;
    }

    .legend {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        justify-content: center;
    }

    .legend-item {
        font-size: 0.85rem;
        width: 100%;
    }
}

@media (orientation: landscape) and (max-width: 680px) {
    .charts-container {
        flex: 3;
    }
}
