venv*
.venv*
.*.swn
.*.swo
.*.swp
.env*

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
htmlcov
coverage.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

tags


scraper/manifest_hp.yml
ga.html

data.bz2
*.tar.gz
*.log
.idea
.upm/
.DS_Store
attic/

# Replit
.pythonlibs
logs
cache
