modules = ["python-3.13", "python-base-3.13"]

hidden = [".pythonlibs"]
run = "sh start.sh"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
