modules = ["python-3.13", "python-base-3.13"]

hidden = [".pythonlibs"]
run = "sh start.sh"

[nix]
channel = "stable-25_05"
packages = ["postgresql"]

[deployment]
run = ["sh", "start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run FastAPI App"

[[workflows.workflow]]
name = "Run FastAPI App"
author = 25356697
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd webapp-fastapi && poetry run python main.py"
