modules = ["python-3.13", "python-base-3.13"]

hidden = [".pythonlibs"]
run = "sh start.sh"

[nix]
channel = "stable-25_05"

[env]
REPLIT_PYTHON_PACKAGE_LAYER = "1"

[deployment]
run = ["sh", "-c", "cd webapp-fastapi && poetry install -v && poetry run -v python -v main.py"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "cd webapp-fastapi && poetry install -v"]


[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run FastAPI App"

[[workflows.workflow]]
name = "Run FastAPI App"
author = 25356697
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd webapp-fastapi && poetry run python main.py"
