[general]
log_level = "INFO"
refresh_rate = 60
db_url = "postgresql://windburglr@example.com/windburglr"
output_mode = "postgres"

[[stations]]
name = "CYTZ"
local_timezone = "America/Toronto"
url = "https://example.ca/service/wind-data/CYTZ"
timeout = 15
timezone = "UTC"
direction_path = "sensor_data.CYTZ.wind_direction"
speed_path = "sensor_data.CYTZ.wind_speed"
gust_path = "sensor_data.CYTZ.wind_gust"
timestamp_path = "sensor_data.CYTZ.updated"
timestamp_format = "%Y-%m-%d %H:%M"
[stations.headers]
Bearer = "secret"

[[stations]]
name = "CYVR"
local_timezone = "America/Vancouver"
url = "https://example.ca/service/wind-data/CYVR"
timeout = 15
direction_path = "sensor_data.wind_direction"
speed_path = "sensor_data.wind_speed"
gust_path = "sensor_data.wind_gust"
timestamp_path = "sensor_data.updated"
timestamp_format = "%Y-%m-%d %H:%M"
[stations.headers]
Bearer = "secret"
