<html>
  <head>
   <link rel="stylesheet" href="{{url_for('static', filename='site.css') }}" type="text/css" media="Screen" />
<link rel="stylesheet" href="{{url_for('static', filename='mobile.css') }}" type="text/css" media="only screen and (max-device-width:480px)" />
    <title>wind burglr</title>
  <!-- prevent small devices from attempting to render a desktop-sized page -->
  <meta name="viewport" content="width=device-width" />
  </head>
  <body>
{% block body_part_1 %}
{% endblock %}
    <div>
    <p>
        <span id=fail></span>
    </p>
    </div>
   <div id="container"></div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script src="{{url_for('static', filename='flotr2.min.js') }}"></script>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script>
(function basic_time(container) {

  var windspeed = [],
    windgust = [],
    winddir_complete = [],
    winddir = [],
    winddir_data = [],
    winddir_y = 5,
    winddir_mintime = 1800000,
    wind_dir_idx = 1,
    wind_speed_idx = 2,
    wind_gust_idx = 3,
    pi180 = Math.PI / 180,
    options,
    graph,
    directions_degrees = 45/2,
    directions = [ "N", "NNE", "NE", "ENE", "E", "ESE", "SE", "SSE", 
                   "S", "SSW", "SW", "WSW", "W", "WNW", "NW", "NNW", "N" ],
    i, x, o;

  options = {
    xaxis : {
      mode : 'time', 
      labelsAngle : 45,
      timeMode: 'local',
      showMinorLabels: true,
      noTicks: 12
    },
    yaxis : {
//        title: "Knots",
        tickDecimals: 0
    },
    y2axis: {
//        title: "Degrees",
        min: 0,
        max: 360,
        ticks : [[ 0, "N"], [45, "NE"], [90, "E"], [135, "SE"], [180, "S"], [225, "SW"], 
                    [270, "W"], [315, "NW"], [360, "N"] ],
    },
    selection : {
      mode : 'x'
    },
    HtmlText : false,
    title: " "
  };

    {% block js_code_1 %}
    // determine the time range to display
    {# child must declare var start_time, and optionally end_time if
       end_time parameter is passed 
    #}
    {% endblock %}

    var jqhxr = $.getJSON($SCRIPT_ROOT + '{{ wind }}', {
            stn : '{{ station }}',
            from : start_time.toISOString(){% if end_time %},
            to : end_time.toISOString() {% endif %}
        }, function(data, textStatus) {
            var winddir_last_time = null;
            var winddir_last = null;

{% block js_json_code_1 %}
{% endblock %}

            for (i = 0; i < data.winddata.length; i++ ) {
                var dat = data.winddata[i];
                var x_time = dat[0] * 1000; // new Date(dat[0] + " GMT").getTime();
                // filter out a subset of the wind direction data
                if (dat[1] != null && 
                    (winddir_last_time == null || winddir_last_time + winddir_mintime < x_time
                    ) ) { 
                    winddir.push(dat[wind_dir_idx]);
                    winddir_data.push([x_time, winddir_y]);
                    winddir_last_time = x_time;
                    };
                windspeed.push([x_time, dat[wind_speed_idx]]);
                windgust.push([x_time, dat[wind_gust_idx]]);
                // insert nulls for big discontinuities caused by wind crossing north
                // to prevent noisy vertical lines
                if ( winddir_last != null && ((dat[wind_dir_idx] > 320 && winddir_last < 50) || 
                                              (dat[wind_dir_idx] < 50 && winddir_last > 320) ) ) {
                    winddir_complete.push([x_time, null]);
                }
                winddir_last = dat[wind_dir_idx];
                winddir_complete.push([x_time, dat[wind_dir_idx]]);
            }
            graph = drawGraph();
        })
    .done(function() { })
    .fail(function(jqxhr, textStatus, errorThrown) { 
        console.log(jqxhr);
        $("#fail").text("Pulled quick-release while loading data (code " + 
            jqxhr.status.toString() + "): " + errorThrown); 
        })
    .always(function() { });

  // Draw graph with default options, overwriting with passed options
  function drawGraph (opts) {

    // Clone the options, so the 'options' variable always keeps intact.
    o = Flotr._.extend(Flotr._.clone(options), opts || {});

    // Return a new graph.
    return Flotr.draw(
      container,
      [ { data: windspeed, lines: { fill : true, fillColor: ['#00A8F0', '#fff'], fillOpacity: 1 } }, 
        { data: windgust, lines: { color: 'red'} },
//        { data: winddir_data, markers: { show: true, position: 'ct', labelFormatter: 
//            function(o) { 
//                return directions[Math.round((winddir[o.index]/directions_degrees))] 
//            } 
//            } },
        { data: winddir_complete, lines: { color: 'orange' }, yaxis:2 }],
      o
    );
  }

//  graph = drawGraph();      
        
  Flotr.EventAdapter.observe(container, 'flotr:select', function(area){
    // Draw selected area
    graph = drawGraph({
      xaxis : { min : area.x1, max : area.x2, mode : 'time', labelsAngle : 45, noTicks: 12, 
                showMinorLabels: true, timeMode: 'local' },
      yaxis : { min : area.y1, max : area.y2, tickDecimals: 0 }
    });
  });
        
  // When graph is clicked, draw the graph with default area.
  Flotr.EventAdapter.observe(container, 'flotr:click', function () { graph = drawGraph(); });
})(document.getElementById("container"));
    </script>
</html>

