<html>
  <head>
   <link rel="stylesheet" href="{{url_for('static', filename='site.css') }}" type="text/css" media="Screen" />
<link rel="stylesheet" href="{{url_for('static', filename='mobile.css') }}" type="text/css" media="only screen and (max-device-width:480px)" />
    <title>wind burglr</title>
  <!-- prevent small devices from attempting to render a desktop-sized page -->
  <meta name="viewport" content="width=device-width" />
    <style>
        .jason {
            background-image: url("{{ url_for('static', filename='IMG_20131025_153200.jpg') }}");
            background-color: white;
            background-size: contain;
            background-repeat: no-repeat;
            background-origin: content-box;
            padding: 20px;
          }
        .jason canvas {
            opacity: 60%;
        }
    </style>
{# Google Analytics snippet in ga.html #}
{% include "ga.html" ignore missing %} 
  </head>
  <body>
{% block body_part_1 %}
{% endblock %}
    <div id="messages" class="hidden">
    <p>
        <span id=fail></span>
    </p>
    </div>
{% block plot_container %}
   <div id="container"></div>
{% endblock %}

  <script src="{{url_for('static', filename='flotr2.min.js') }}"></script>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script>
(function basic_time(container) {

  var station_id,
    winddata = [],
    windspeed = [],
    windgust = [],
    winddir_complete = [],
    winddir = [],
    winddir_data = [],
    winddir_y = 5,
    winddir_mintime = 1800000,
    wind_dir_idx = 1,
    wind_speed_idx = 2,
    wind_gust_idx = 3,
    pi180 = Math.PI / 180,
    options,
    graph,
    zoomed = false,
    directions_degrees = 45/2,
    directions = [ "N", "NNE", "NE", "ENE", "E", "ESE", "SE", "SSE", 
                   "S", "SSW", "SW", "WSW", "W", "WNW", "NW", "NNW", "N" ],
    i, x, o;

  options = {
    xaxis : {
      mode : 'time', 
      labelsAngle : 45,
      timeMode: 'local',
      showMinorLabels: true,
      noTicks: 12
    },
    yaxis : {
//        title: "Knots",
        tickDecimals: 0
    },
    y2axis: {
//        title: "Degrees",
        min: 0,
        max: 360,
        ticks : [[ 0, "N"], [45, "NE"], [90, "E"], [135, "SE"], [180, "S"], [225, "SW"], 
                    [270, "W"], [315, "NW"], [360, "N"] ],
    },
    selection : {
      mode : 'x'
    },
    HtmlText : false,
    title: " "
  };

    var start_time, end_time;
    {% block js_code_1 %}
    // determine the time range to display
    {# child must set var start_time, and optionally end_time if
       end_time parameter is passed 
    #}
    {% endblock %}

    function getWindData(station, start_time, end_time, callback) {
        var urlparams = '?stn=' + station + '&from=' + start_time.toISOString();
        if ( end_time != null ) { urlparams += '&to=' + end_time.toISOString(); }
        var xhr = new XMLHttpRequest();
        console.log(urlparams);
        xhr.open('GET', $SCRIPT_ROOT + '{{ wind }}' + urlparams, true);
        xhr.onreadystatechange = function() {
            if ( xhr.readyState == 4 ) {
                // DONE
                if ( xhr.status == 200 ) {
                    var data = JSON.parse(xhr.responseText);
                winddata = winddata.concat(data.winddata);
                station_id = data.station;
                var winddir_last_time = null;
                var winddir_last = null;

                for (i = 0; i < data.winddata.length; i++ ) {
                    var dat = data.winddata[i];
                    var x_time = dat[0] * 1000; // new Date(dat[0] + " GMT").getTime();
                    // filter out a subset of the wind direction data
                    if (dat[1] != null && 
                        (winddir_last_time == null || winddir_last_time + winddir_mintime < x_time
                        ) ) { 
                        winddir.push(dat[wind_dir_idx]);
                        winddir_data.push([x_time, winddir_y]);
                        winddir_last_time = x_time;
                        };
                    windspeed.push([x_time, dat[wind_speed_idx]]);
                    windgust.push([x_time, dat[wind_gust_idx]]);
                    // insert nulls for big discontinuities caused by wind crossing north
                    // to prevent noisy vertical lines
                    if ( winddir_last != null && ((dat[wind_dir_idx] > 320 && winddir_last < 50) || 
                                                  (dat[wind_dir_idx] < 50 && winddir_last > 320) ) ) {
                        winddir_complete.push([x_time, null]);
                    }
                    winddir_last = dat[wind_dir_idx];
                    winddir_complete.push([x_time, dat[wind_dir_idx]]);
                }
                document.getElementById('messages').style.display = "none";
                callback();
            } else {
                console.log(xhr);
                //$(document).ready(function(){
                document.getElementById("fail").textContent="Pulled quick-release while loading data (code " + 
                    xhr.status.toString() + "): " + xhr.statusText; 
                document.getElementById('messages').style.display = "block";
            }    
        }};
        xhr.send();
    }

  // Draw graph with default options, overwriting with passed options
  function drawGraph (opts) {

    // Clone the options, so the 'options' variable always keeps intact.
    o = Flotr._.extend(Flotr._.clone(options), opts || {});

    // Return a new graph.
    return Flotr.draw(
      container,
      [ { data: windspeed, lines: { fill : true, fillColor: ['#00A8F0', '#fff'], fillOpacity: 1 } }, 
        { data: windgust, lines: { color: 'red'} },
        { data: winddir_complete, lines: { color: 'orange' }, yaxis:2 }],
      o
    );
  }

  // update the whole page
  function updatePage() {
{% block updatePage_entry %}
{% endblock %}
    drawGraph();
  }

  // fetch newer data and plot
  function getNewWindData() {
    var last_data_time = windspeed.length > 0 ? windspeed[windspeed.length-1][0] : start_time;
    if ( windspeed.length > 0 ) {
        // increment start_time by just a second so we don't get duplicate points
        last_data_time += 1000;
        current_time = new Date().getTime();
        // do nothing if it's been less than two minutes since last data point
        if ( current_time - 120000 < last_data_time ) {
            return;
        }
    }
    getWindData('{{ station }}', new Date(last_data_time), end_time, updatePage);
  }

  Flotr.EventAdapter.observe(container, 'flotr:select', function(area){
    // Draw selected area
    graph = drawGraph({
      xaxis : { min : area.x1, max : area.x2, mode : 'time', labelsAngle : 45, noTicks: 12, 
                showMinorLabels: true, timeMode: 'local' },
      yaxis : { min : area.y1, max : area.y2, tickDecimals: 0 }
    });
    zoomed = true;
  });

       
  // When graph is clicked, draw the graph with default area.
  Flotr.EventAdapter.observe(container, 'flotr:click', function () { 
    if ( zoomed == false && end_time == null ) {
        // end time not specified, try to load more data
        getNewWindData();
   } else {
        graph = drawGraph(); 
    }
    zoomed = false;
  });

  // get the data for the desired time range and plot the initial graph
  getWindData('{{ station }}', start_time, end_time, updatePage);

})(document.getElementById("container"));
</script>
</body>
</html>

