{% extends "basic.html" %}
{% block body_part_1 %}
    <div id="current">
        <span id="station"></span>
        <span>currently:</span>
        <span id="mean"></span>
        <span>kts</span>
        <span id="direction">
        </span><span> (</span><span id="lull"></span><span>-</span><span id="gust"></span><span>)</span>
        <span>&sigma;=</span><span id="sigma"></span>
    </div>
{% endblock %}
{% block js_code_1 %}
    // Calculate the current conditions stats
    function calcCurrentConditions(station, winddata, window_start_time) {
        var sum = 0;
        var sumsq = 0;
        var n = 0;
        var mean, sigma = 0, lull, gust;
        var dir_sum = 0, dir_n = 0, dir_mean, dir_min, dir_max;
        for ( var i = winddata.length-1; i >= 0; i-- ) {
            var dat = winddata[i];
            if ( dat[0] < window_start_time ) break;
            if ( dat[wind_speed_idx] != null ) {
                var wind_speed = dat[wind_speed_idx];
                if ( wind_speed > 0 ) {
                    var wind_dir = dat[wind_dir_idx];
                    dir_sum += wind_dir;
                    dir_n++;
                    if ( dir_min == null || dir_min > wind_dir ) {
                        dir_min = wind_dir;
                    }
                    if ( dir_max == null || dir_max < wind_dir ) {
                        dir_max = wind_dir;
                    }
                }
                sum += wind_speed;
                n++;
                if ( lull == null || lull > wind_speed ) {
                    lull = wind_speed;
                }
                if ( gust == null || gust < dat[wind_gust_idx] || gust < wind_speed ) {
                    gust = dat[wind_gust_idx] || wind_speed;
                }
            }
        }
        if ( n > 0 ) {
            mean = sum / n;
            if ( dir_n > 0 ) {
                dir_mean = dir_sum / dir_n;
            }
            // calc stddev (sigma)
            if ( n > 1 ) {
                for ( i = winddata.length-1; i >= 0; i-- ) {
                    var dat = winddata[i];
                    if ( dat[0] < window_start_time ) break;
                    if ( dat[wind_speed_idx] != null ) {
                        var wind_speed = dat[wind_speed_idx];
                        var diff = wind_speed - mean;
                        sigma += diff * diff;
                    }
                }
                sigma /= n - 1;
            }
        }
//        console.log([window_start_time, n, mean, sigma, lull, gust]);
        document.getElementById('station').textContent=station;
        document.getElementById('mean').textContent=(mean != null) && mean.toFixed(1) || "?";
        document.getElementById('sigma').textContent=(sigma != null) && sigma.toPrecision(2) || "?";
        document.getElementById('lull').textContent=(lull != null) && lull.toFixed(0) || "?";
        document.getElementById('gust').textContent=(gust != null) && gust.toFixed(0) || "?";
        document.getElementById('direction').textContent=(dir_mean != null) &&
            directions[Math.round((dir_mean/directions_degrees))] || "?";
        document.getElementById('current').style.display = 'block';
    }

    start_time = new Date();
{% if minutes %}
    start_time.setTime(start_time.getTime() - ({{ minutes }} * 60000));
{% endif %}
{% if hours %}
    start_time.setTime(start_time.getTime() - ({{ hours }} * 3600000));
{% endif %}
    start_time.setMilliseconds(0);
{% endblock %}

{% block updatePage_entry %}
    calcCurrentConditions(station_id, winddata, (new Date().getTime()/1000) - (15 * 60));
{% endblock %}


